body {
    font-size: clamp(0.4rem, 0.5rem + 1vw, 1rem);
    text-align: left;
    font-family: Monospace;
    color: white;
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 20%;
}

.logoBox {
    text-align: center;
    white-space: nowrap;
}

.channelsBox {
    flex: 1;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.radioChannels {
    width: 50%;
}

.tvChannels {
    width: 50%;
}

h2 {
    display: flex;
    justify-content: center;
}

h5 {
    display: table;
    text-align: left;
}

p {
    font-size: clamp(0.4rem, 0.5rem + 1vw, 1rem);
}

.topLinks {
    width: 100%;
    text-align: center;
    font-size: clamp(0.4rem, 0.4rem + 0.6vw, 4rem);
    font-family: Monospace;
}

.container {
    display: flex;
    width: 100%;
    text-align: center;
    font-family: Monospace;
}

.agendaContainer {
    max-width: 40%;
    margin: 1%;
    display: table-cell;
    vertical-align: middle;
    font-family: Monospace;
    font-size: clamp(0.4rem, 0.4rem + 0.6vw, 1rem);
}

.mainContent {
    width: 55%;
    margin: 1%;
    display: table-cell;
    vertical-align: middle;
    font-family: Monospace;
    text-align: center;
}

.channelButton {
    max-height: 6em;
    border-radius: 4px;
    background-color: black;
    text-align: left;
    font-size: clamp(0.4rem, 0.4rem + 0.6vw, 4rem);
    font-family: Monospace;
    margin: 1%;
    width: 10rem;
}

#cbs {
    color: white;
    border-color: white;
}

#df {
    color: white;
    border-color: yellow;
}

#tdm {
    color: white;
    border-color: cornflowerblue;
}

#cbstv {
    color: red;
    border-color: red;
    border-radius: 4px;
    background-color: black;
}

#mtv {
    color: red;
    border-color: red;
    border-radius: 4px;
    background-color: black;
}

#audioPlayerDiv {
    text-align: center;
    max-width: inherit;
}

#audioPlayer,
.track-meta {
    max-width: 80%;
}

a:link {
    color: white;
    cursor: pointer;
}

a:visited {
    color: white;
}

.rawidget {
    width: 100%;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    background-color: black;
    font-size: clamp(0.2rem, 0.4rem + 0.6vw, 1rem);
}

.nowPlaying {
    font-size: clamp(0.4rem, 0.5rem + 1vw, 1rem);
    text-align: left;
    vertical-align: middle;
    width: auto;
}

.activeChannel {
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

/* mobile screen adaptations */
@media (max-width: 600px) {

    .topLinks,
    .header,
    .channelButton,
    .agendaContainer {
        font-size: clamp(0.5rem, 0.5rem + 1vw, 2rem);
    }

    .header {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    .logoBox,
    .channelsBox {
        flex: unset;
        width: 100%;
        padding: 0;
        margin-top: 5%;
        text-align: center;
    }

    .channelButton {
        padding: 2%;
        width: 7rem;
    }

    .container {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        text-align: center;
    }

    .mainContent {
        height: 250px;
        overflow: auto;
        flex: unset;
        text-align: center;
        width: 98%;
        padding: 1%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .agendaContainer {
        max-width: 100%;
    }

}
