@font-face {
    font-family: 'Michroma-Regular';
    src: url('Michroma-Regular.ttf');
}

body {
    font-size: clamp(0.4rem, 0.5rem + 1vw, 1.5rem);
    text-align: left;
    font-family: Michroma-Regular;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

h5 {
    display: table;
    margin: 0 auto;
}

.topLinks {
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    width: 100%;
}

.leftPanel {
    width: 25%;
}

.mainContent {
    width: 55%;
    margin: 1%;
}

.rightPanel {
    width: 20%;
}

body {
    color: white;
    background-color: black;
}

.button {
    width: 90%;
    max-height: 5em;
    border-radius: 4px;
    background-color: black;
    text-align: left;
    font-size: clamp(0.2rem, 0.4rem + 0.8vw, 5rem);
}

#cbs {
    color: white;
    border-color: white;
}

#df {
    color: white;
    border-color: yellow;
    border-radius: 4px;
    background-color: black;
}

#tdm {
    color: white;
    border-color: cornflowerblue;
    border-radius: 4px;
    background-color: black;
}

#cbstv {
    color: red;
    border-color: red;
    border-radius: 4px;
    background-color: black;
}

#mtv {
    color: red;
    border-color: red;
    border-radius: 4px;
    background-color: black;
}

table {
    display: table;
    margin: 0 auto;
    border: 0px solid;
    text-align: left;
    width: 100%;
}
